<style>
@keyframes .zoom {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(10,5);
    }
    100% {
        transform: scale(1,1);
    }
}
</style>

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

